* {
    font-size: 62.5%; 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
ul {list-style: none;}
::marker {
    content: "";
}
li, a {text-decoration: none; color: #000;}
button {
    background-color: transparent;
    outline: 0;
    border: 0;
}