/*헤더 메뉴 디자인*/
.header_box {
    width: 100%;
    height: 80px;
    padding: 0 10rem;
    position: fixed;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
    .header_box > img {
        position: relative;
        float: left;
        width: 100px;
        display: flex;
        align-items: center;
    }
    .header_menu_01 {
        width: fit-content;
        height: 80px;
        display: flex;
        flex-wrap: nowrap;
    }
    .header_menu_02 {
        position: relative;
        float: right;
        width: 250px;
        height: 80px;
        line-height: 80px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
/*헤더 드롭다운 메뉴 코드------------------------*/
/*shop 메뉴 드롭다운 코드*/
.shop_page {
    width: 8.3rem;
    height: 8rem;
}
/*page 공통 사이즈 코드 ----------------*/
    .page_up {
        width: auto;
        height: 8rem;
        display: flex;
        padding: 2.9rem 2.3rem;

        font-size: 1.6rem;
        line-height: 2.2rem;
    }
        .page_all {
            position: absolute;
            left: 0;
            top: 8rem;
            width: 100%;
            height: auto;
            padding: 2.4rem 0 10rem 0;
            background-color: #fff;

            display: grid;
            grid-template-areas:
            "a b c d e f";
            grid-template-columns: 580px 260px 260px 50px 260px auto;
        }
            .shop_img {
                grid-area: a;
                width: auto;
                height: auto;
                background-color: #555;
                margin: 48px 120px 90px 150px;
            }
            .shop_menu_left {
                grid-area: b;
                width: auto;
                height: fit-content;
                position: absolute;
            }
                .shop_menu_left li a, .shop_menu_right li a {
                    width: 26rem;
                    height: 5rem;
                    padding: 1.4rem 0;
                    font-size: 1.6rem;
                    line-height: 2.2rem;

                    display: flex;
                    justify-content: space-between;
                }
                    .menu-line {
                        width: 0%;
                        height: 1px;
                        background-color: #d9d9d9;
                    }
                    .shop_menu_left img {
                        display: block;
                        opacity: 0;
                    }
            /*호버시 내용은 자바스크립트로 작성*/
            .shop_list_left {
                grid-area: c;
                width: auto;
                height: auto;
                position: absolute;
            }
                .shop_list_left ul, .shop_list_right ul {
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    transition: all 300ms;
                }
                    .shop_list_left a, .shop_list_right a {
                        width: 26rem;
                        height: 5rem;
                        padding: 1.4rem 0;
                        padding-left: 5rem;

                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: #555;

                        display: block;
                    }
            .shop_line {
                grid-area: d;
                width: 5rem;
                height: 42rem;
                border-left: 1px solid #d9d9d9;
            }
            .shop_menu_right {
                grid-area: e;
                width: auto;
                height: fit-content;
                position: absolute;
            }
            .shop_list_right {
                grid-area: f;
                width: auto;
                height: fit-content;
                position: absolute;
            }