/*헤더 메뉴 디자인*/
.header_box {
    width: 100%;
    height: 80px;
    padding: 0 10rem;
    position: fixed;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
    .header_box > img {
        position: relative;
        float: left;
        width: 100px;
        display: flex;
        align-items: center;
    }
    .header_menu_01 {
        width: fit-content;
        height: 80px;
        line-height: 80px;
        display: flex;
        flex-wrap: nowrap;
    }
        .header_menu_01 >li> a {
            font-size: 1.6rem;
            line-height: 2.2rem;
            padding: 29px 23px;
            color: #000;
            font-weight: var(--font-light);
        }
    .header_menu_02 {
        position: relative;
        float: right;
        width: 250px;
        height: 80px;
        line-height: 80px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
/*헤더 드롭다운 메뉴 코드------------------------*/
/*shop 메뉴 드롭다운 코드*/
.shop_page {
    width: 83px;
    height: 80px;
}
    .shop_page_up {
        width: 83px;
        height: 80px;
    }
        .shop_page_all {
            position: absolute;
            left: 0;
            top: 80px;
            width: 100%;
            height: 640px;
            padding-top: 24px;
            background-color: #fff;

            display: grid;
            grid-template-areas:
            "a b c d e";
            grid-template-columns: 580px 260px 280px 260px auto;
        }
            .shop_menu_left {
                grid-area: b;
            }
                .shop_menu_left li a, .shop_menu_right li a {
                    width: 260px;
                    height: 50px;
                    padding: 1.4rem 0;
                    font-size: 1.6rem;
                    line-height: 2.2rem;

                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #d9d9d9;
                }
                /*호버시 내용은 자바스크립트로 작성*/
            .shop_list_left {
                grid-area: c;
            }
                .shop_list_left li {
                    width: 28rem;
                    height: 5rem;
                    line-height: 5rem;
                    padding-left: 7rem;
                    font-size: 1.5rem;
                    color: #555;
                }
            .shop_menu_right {
                grid-area: d;
            }