
/*main_02 SHINE WHITE 하단 아이템 슬라이드 ----------------*/
    .main_02_item {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 200px;
    }
        .main_02_item_title {
                font-size: 2.4rem;
                line-height: 4rem;
                width: 100%;
                height: 4rem;
                text-align: center;
        }
    .main_02_item_wrapper {
            width: 1720px;
            height: 417px;
            margin: 0 100px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
    }
        .main_02_item_all {
            position: absolute;
            left: 0;
            top: 0;
            max-height: 417px;
        }
            .main_04_item_all.animated {
                transition: all 0.5s ease-out;
            }
            .main_item {
                width: 286px;
                height: auto;
                position: relative;
                float: left;
                    border: #fff 1px solid;
            }
            .main_item_01:hover {
                    border: #000 1px solid;
            }
                .main_item_text {
                        width: 100%;
                        padding: 22px 0;
                }
                    .main_item_text_01 {
                            width: 100%;
                            height: 22px;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                    }
                    .main_item_text_02 {
                            width: 100%;
                            height: 21px;
                            font-size: 13px;
                            line-height: 21px;
                            margin-bottom: 10px;
                            text-align: center;
                            font-weight: var(--font-medium);
                    }
            /*아이템 이미지 및 호버시 이미지 변경 설정*/
            /*item 01*/
            .main_02_item_img_01 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite01.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_01:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 02*/
            .main_02_item_img_02 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite02.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_02:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 03*/
            .main_02_item_img_03 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite03.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_03:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 04*/
            .main_02_item_img_04 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite04.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_04:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 05*/
            .main_02_item_img_05 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite05.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_05:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 06*/
            .main_02_item_img_06 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite06.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_06:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 07*/
            .main_02_item_img_07 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite07.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_07:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            /*item 08*/
            .main_02_item_img_08 {
                width: 284px;
                height: 313px;
                background-image: url(../images/shinewhite08.png);
                object-fit: cover;
                transition: all 0.3s;
            }
                .main_04_img_08:hover {
                    background-image: url(../images/eyewear01_texture.png);
                    transition: all 0.3s;
                }
            
            /*item page bar*/
            .main_02_item_bar_all {
                    width: 100%;
                    height: 1px;
                    padding: 0 100px;
                    margin-top: 80px;
            }
            .main_02_item_bar_base {
                    width: 100%;
                    height: 1px;
                    background: #d9d9d9;
            }
                .main_02_item_bar_con {
                        width: 30%;
                        height: 1px;
                        background: #000;
                }
        /*js로 product 호버 시 나오도록 설정*/