
/*main_02 SHINE WHITE 하단 아이템 슬라이드 ----------------*/
    .main_02_item {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 200px;
    }
        .main_02_item_title {
                font-size: 2.4rem;
                line-height: 4rem;
                width: 100%;
                height: 4rem;
                text-align: center;
        }
    .main_02_item_wrapper {
            width: 1720px;
            height: 417px;
            margin: 0 100px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
    }
            .main_item {
                width: 286px;
                height: auto;
                position: relative;
                float: left;
                    border: #fff 1px solid;
            }
            .main_item_01:hover {
                    border: #000 1px solid;
            }
                .main_item_text {
                        width: 100%;
                        padding: 22px 0;
                }
                    .main_item_text_01 {
                            width: 100%;
                            height: 22px;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                    }
                    .main_item_text_02 {
                            width: 100%;
                            height: 21px;
                            font-size: 13px;
                            line-height: 21px;
                            margin-bottom: 10px;
                            text-align: center;
                            font-weight: var(--font-medium);
                    }
            /*item page bar*/
            .main_02_item_bar_all {
                    width: 100%;
                    height: 1px;
                    padding: 0 100px;
                    margin-top: 80px;
            }
            .main_02_item_bar_base {
                    width: 100%;
                    height: 1px;
                    background: #d9d9d9;
            }
                .main_02_item_bar_con {
                        width: 30%;
                        height: 1px;
                        background: #000;
                }
        /*js로 product 호버 시 나오도록 설정*/