/*하단 아이템 슬라이드 꾸밈요소----------------*/
.main_item_text {
    width: 100%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
    .main_item_text > h4 {
        text-align: center;
    }
/*item page bar*/
.main_02_item_bar_all {
        width: 100%;
        height: 1px;
        padding: 0 100px;
        margin-top: 80px;
}
.main_02_item_bar_base {
        width: 100%;
        height: 1px;
        background: #d9d9d9;
}
    .main_02_item_bar_con {
            width: 30%;
            height: 1px;
            background: #000;
    }
/*js로 product 호버 시 나오도록 설정*/

/*화살표 작성------------*/
.main_slide_page_arrow {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
/*item 슬라이드 시작---------------*/
.slide_wrapper {
    width: calc(100vw - 20.4rem);
    height: 42rem;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
}
.main_item_slides {
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}
.main_item_slides.animated {
    transition: all 0.5s ease-out;
}
    .main_slide_con {
        width: calc(calc(100vw - 20.4rem) / 6);
        height: fit-content;
        position: relative;
        float: left;
        border: #fff 1px solid;
    }
    .main_slide_con:hover {
        border: #000 1px solid;
    }
    /*아이템 이미지 및 호버시 이미지 변경 설정*/
        .content_slide_img {
            width: 100%;
            height: fit-content;
            margin: 0 auto;
            transition: all 0.3s;
        }
            .content_slide_img img {
                width: 100%;
                opacity: 1;
                object-fit: cover;
                aspect-ratio: 0.907;
                transition: all 300ms ease-out;
                display: none;
            }
            .content_slide_img img.hover {
                display: block;
                opacity: 0;
                transition: all 300ms ease-out;
            }
/*main 02 개별 슬라이드 내용*/