.main_01_wrapper {
    width: 100%;
    height: 1100px;
    position: absolute;
    overflow: hidden;
}
/*슬라이드 01번--------------------------*/
    .main_01_slide01 {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 900px;
        overflow: hidden;
        padding-top: 10rem;
        transition: all 300ms ease-in-out;
    }
        .main_01_img {
            position: absolute;
            left: 45%;
            top: 10rem;
            width: 850px;
            height: 700px;
        }
        .main_01_bg {
            position: absolute;
            left: 45%;
            top: 10rem;
            width: 850px;
            height: 700px;
            z-index: -1;
        }
    .main_01_slide02 {
        display: none;
        position: absolute;
        left: 1920px;
        width: 850px;
        height: 900px;
        background-size: cover;
    }
    .main_01_slide03 {
        display: none;
        position: absolute;
        left: -850px;
        width: 850px;
        height: 900px;
        background-size: cover;
    }