/*공통 item page slide arrow--------------------------*/
.main_page_arrow {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
/*main page first section------------------------*/
.main_01 {
    width: 100%;
    height: 1100px;
    position: relative;
}
.main_background {
    width: 100%;
    height: 900px;
    position: absolute;
    z-index: -1;
}
    .main_text {
        width: 50rem;
        height: 13rem;
        position: absolute;
        left: 200px;
        top: 390px;
    }
        .main_text_title {
            font-size: 6rem;
            height: 7rem;
            line-height: 7rem;
        }
        .main_text_button {
            display: flex;
            height: 2.4rem;
        }
            .main_text_button span {
                font-size: 1.6rem;
                margin-right: 0.4rem;
                vertical-align: middle;
            }
    
/*main 02번 파트---------------------------------------*/
.main_02 {
    width: 100%;
    height: auto;
    position: relative;
    clear: both;
}
    .main_02_box {
        width: 87rem;
        height: 60rem;
        margin: 0 auto;
        display: flex;
    }
        .main_02_img {
            width: 43rem;
            height: 60rem;
        }
            .main_02_img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        .main_02_con {
            width: 44rem;
            height: 60rem;
            padding-left: 6rem;
            padding-top: 10rem;
        }
            .main_02_text {
                width: 100%;
                height: 15rem;
                display: grid;
                grid-template-rows: 5rem 7rem 2rem;
            }
            .main_02_bar {
                width: 37rem;
                height: 2.4rem;
                display: flex;
                justify-content: space-between;
                margin-top: 24rem;
            }
                .main_02_bar_base {
                    width: 27rem;
                    height: 1px;
                    background: #d9d9d9;
                    margin-top: 1.1rem;
                }
                    .main_02_bar_con {
                        width: 9rem;
                        height: 1px;
                        background: #000;
                    }
                .main_02_bar_page {
                    display: flex;
                    flex-flow: row nowrap;
                    width: auto;
                    height: 2.4rem;
                }
    .main_02_item {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 200px;
    }
        .main_02_item_title {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
/*main 03 코너 시작---------------------------------------*/
.main_03 {
    width: 100%;
    padding: 0 5rem;
    height: auto;
    position: relative;
    clear: both;
    margin-top: 37.5rem;
}
    .main_03_container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
        "a b"
        "a c"
        "d c";
        grid-template-rows:32.8rem 87.2rem 32.8rem;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-column-gap: 4%;
    }
        .main_03_img_01 {
            grid-area: a;
        }
        .main_03_text_01 {
            grid-area: b;
            width: 40rem;
            height: 9.4rem;
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;

            margin-top: 3rem;
        }
        .main_03_img_02 {
            grid-area: c;
        }
        .main_03_text_02 {
            grid-area: d;
            padding-top: 17rem;
        }
            .main_03_container img {
                width: 100%;
                height: 100%;
                background-size: contain;
                object-fit: cover;
            }
        .main_03_text_all {
            width: 40rem;
            height: 9.4rem;
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;
            position: relative;
            float: right;
        }

/*main 04 special project start--------------------------*/
.main_04 {
    width: 100%;
    height: auto;
    position: relative;
    clear: both;
}
    .main_04_title {
        width: 100%;
        height: 4rem;
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;

        margin-top: 30rem;
        margin-bottom: 6rem;
    }
    .main_04_banner {
        position: relative;
        clear: both;
        width: 100%;
        height: 65rem;
        background: url(../images/special_project_01.png) no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 7rem;
    }
        .main_04_dimd {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 65rem;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(15px);
        }
        .main_04_title_img {
            margin: 0 auto;
            width: 50rem;
            height: 65rem;
            background: url(../images/special_project_01.png) no-repeat;
            background-size: contain
        }
        .main_04_text_all {
            width: 36.5rem;
            height: 23.9rem;
            position: absolute;
            left: 10%;
            top: 21rem;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: var(--font-light-white);
        }
            .main_04_text_button {
                margin-top: 12rem;
            }
                .main_04_text_button span {
                    font-size: 1.6rem;
                    font-weight: var(--font-light-white);
                    line-height: 2.2rem;
                    transform : rotate(0.04deg);
                    color: #fff;
                }
                .main_04_text_button span, img {
                    vertical-align: middle;
                }

/*main 05 start---------------------------------*/
.main_05 {
    position: relative;
    width: 100%;
    height: 80rem;
    padding-left: 10rem;
    margin-top: 60rem;
}
    .main_05_container {
        width: 100%;
        height: 80rem;
        display: flex;
        position: relative;
    }
        .main_05_img {
            width: 75rem;
            height: 80rem;
            background: url(../images/shop_by_look_01.jpg) no-repeat;
            background-size: cover;
        }
        .main_05_content {
            width: 102rem;
            height: 95rem;
        }
            .main_05_title {
                width: 100%;
                height: 8rem;
                padding-left: 9rem;
                display: flex;
                align-items: center;
            }
            .main_05_bar {
                width: 100%;
                height: 1px;
                background: #d9d9d9;
            }
/*main 06 page start---------------------------------------------*/
.main_06 {
    width: 100%;
    height: auto;
}
    .main_06_container {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 48rem;
    }
        .main_06_title_all {
            width: 100%;
            height: 8rem;
            padding: 0 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .main_06_title {
                height: 8rem;
                line-height: 8rem;
                font-size: 3rem;
            }
            .main_06_bar_page {
                height: 2.4rem;
                margin: 2.8rem;
                margin-bottom: 0.5rem;
                display: grid;
                grid-template-columns: 2.4rem 1.5rem 2.4rem;
            }
        .main_100_bar {
            width: 100%;
            height: 1px;
            background: #d9d9d9;
        }
        /*main 06 1번 카탈로그*/
        .main_06_contents {
            position: relative;
            width: 100%;
            height: 37.6rem;
            margin: 4rem 0;
            padding-left: 10rem;
            display: flex;
            flex-wrap: nowrap;
            transition: all 300ms;
        }
        .main_06_contents_all {
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
        }
            .main_06_01_all {
                width: 57.3rem;
                height: 37.6rem;
                display: flex;
                flex-wrap: nowrap;
            }
                .main_06_01_img {
                    width: 28.9rem;
                    height: 37.6rem;
                }
                    .main_06_01_img img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                .main_06_01_text {
                    width: 28.4rem;
                    height: 37.6rem;
                    padding-left: 3.5rem;
                    display: grid;
                    grid-template-rows: 29.6rem 8rem;
                }
                    .main_06_text_01 {
                        width: 20rem;
                        margin-top: 2.4rem;
                        line-height: 3.2rem;
                    }
                    .main_06_text_02 {
                        width: 20rem;
                        height: 10rem;
                        margin-top: 1rem;
                        margin-bottom: 7.3rem;
                        color: #505050;
                    }
                    .main_06_text_03 {
                        width: 22.5rem;
                        color: #505050;
                    }
                    .main_06_text_04 {
                        width: 22.5rem;
                    }
            /*화살표 호버시 등장 자바스크립트로 할 것*/
/*main 07 section start------------------------*/
.main_07 {
    position: relative;
    clear: both;
    width: 100%;
    height: 45rem;
    margin-top: 46rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    grid-column-gap: 1px;
    background-color: #d9d9d9;
}
    .main_07_content {
        position: relative;
        width: 100%;
        height: auto;

        background-color: #fff;
        display: flex;
        align-items: center;
    }
        .main_07_text {
            width: 100%;
            height: 6.4rem;
        }
                .main_07_title {
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    font-size: 3rem;
                    text-align: center;
                }
                .main_07_text_button {
                    width: fit-content;
                    padding-left: 0.6rem;
                    margin: 0 auto;
                    height: 2.4rem;
                }
                .main_07_text_button span {
                    font-size: 1.6rem;
                    vertical-align: middle;
                }