/*main 04 화살표 작성------------*/
.main_slide_page_arrow {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
/*main 04 item 제품 추천---------------*/
.slide_wrapper {
    width: calc(100vw - 20.4rem);
    height: 42rem;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
}
.main_item_slides {
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
}
.main_item_slides.animated {
    transition: all 0.5s ease-out;
}
    .main_slide_con {
        width: calc(calc(100vw - 20.4rem) / 6);
        height: fit-content;
        position: relative;
        float: left;
        border: #fff 1px solid;
    }
    .main_slide_con:hover {
        border: #000 1px solid;
    }
    /*아이템 이미지 및 호버시 이미지 변경 설정*/
        .content_slide_img {
            width: 100%;
            height: fit-content;
            margin: 0 auto;
            transition: all 0.3s;
        }
            .content_slide_img img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
            .content_slide_img img.remove {
                display: none;
            }