:root {
    /*font-weight*/
    --font-100: 100;
    --font-300: 300;
    --font-500: 500;

    --font-light-white: var(--font-100);
    --font-light: var(--font-300);
    --font-medium: var(--font-500);
    /*slide width calc()*/
    --slide-width: calc(100vw - 20rem);
    --slide-con-width: calc(calc(100% - 20rem) / 36);
    --slide-img-width: calc(100% - 2px);
}

.red {background-color: #851717;}
.gray {background-color: #33334A;}
.ivory {background-color: #EBE6E1;}
.green {background-color: #3E5542;}
.blue {background-color: #002950;}

html {font-family: 'Roboto', sans-serif; font-weight: var(--font-light);}

h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: var(--font-light);
}
h3 {
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: var(--font-light);
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: var(--font-light);
}
h5 {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: var(--font-light);
}
h6 {
    font-size: 1.3rem;
    line-height: 2.1rem;
    font-weight: var(--font-medium);
}
p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: var(--font-light);
}
.font_white {
    font-weight: var(--font-light-white);
    transform : rotate(0.04deg);
}
.font_gray {
    color: #505050;
}